@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    width: 70%;
    height: auto;
    margin: 0 auto;
}

                                        /* common style item hear  */

.hero-h{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
}         

.hero-p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.hero-btn{
    width: 139px;
    height: 48px;
    background-color: #006A50;
    color: #FFFFFF;
    padding: 13px 26px 13px 26px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
}

.hero-btn:hover{
    background-color: cornflowerblue;
    color: #fffff4;
    cursor: pointer;
}

                                            /* heradr section start  */

                                            
.header-section{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.main-btn{
    background-color: #ffffff;
    color: #006A50;
    width: 125px;
    height: 52px;
    padding: 15px 30px 15px 30px;
    font-size: 18px;
    font-weight: 600;
}


.nav-main-container{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    background: #C6E4D6;
    border-radius: 24px;
    height: 560px;
}

.nav-box{
    margin-left: 90px;
}

.nav-btn{
    width: 270px;
    height: 56px;
}

.main-p{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
}

.main-h{
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    color: #0E0E0E;
    margin: 24px 0;
    
}

